<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dies ist die Einstiegsseite f&uuml;r unsere Schokowerbungsapp</title>
</head>
<body>
<h1>Klicke auf den Link, der Dich am meisten interessiert</h1>
<ul>
<li><a href = "/category/dunkel/siebzigProzent">70% dunkle Schokolade</a></li>
<li><a href = "/category/dunkel/achzigProzent">80% dunkle Schokolade</a></li>
<li><a href = "/category/dunkel/neunzigProzent">90% dunkle Schokolade</a></li>
<li><a href = "/category/zart/65Prozent">65% Zartbitter Schokolade</a></li>
<li><a href = "/category/zart/60Prozent">60% Zartbitter Schokolade</a></li>
<li><a href = "/category/zart/55Prozent">55% Zartbitter Schokolade</a></li>
<li><a href = "/category/milch/35Prozent">35% Milch Schokolade</a></li>
<li><a href = "/category/milch/30Prozent">30% Milch Schokolade</a></li>
<li><a href = "/category/milch/25Prozent">25% Milch Schokolade</a></li>
<li><a href = "/category/weiss/eindeutigweiss">100% weisse Schokolade</a></li>
</ul>
</body>
</html>